{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
<style>
main {
    background: #f0f9fb;
}
</style>
{% endblock %}

{% block body %}

    <!-- content -->
    <section id="content" class="container pabIndent" style="padding-top:50px">
        <!-- contentFiltersHeadingWrap -->
        <header class="contentFiltersHeadingWrap row">
            <div class="col-xs-12 col-sm-10">
                <h1 class="fontNeuron">Profile</h1>
            </div>
        </header>
        <!-- userProfile -->
        <div class="userProfile">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-3">
            <!-- profileSidebar -->
            <aside class="profileSidebar">
                <header class="head">
                <div class="imgProfile">
                    <img src="https://via.placeholder.com/74x74" alt="" width="74" height="74">
                </div>
                <div class="info">
                    <span class="text">{{ app.user.nom ~' '~ app.user.prenom}}</span>
                </div>
                </header>
                <ul class="navUser list-unstyled">
                <li >
                    <a href="{{ path('user_profile') }}">
                    <i class="far fa-user"></i>
                    <span>Paramètres du compte</span>
                    </a>
                </li>
                <li class="active">
                    <a href="{{ path('actualites')}}">
                    <i class="fi flaticon-house"></i>
                    <span>Mes actualités</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class="far fa-heart"></i>
                    <span>Mes favoris</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('post_new') }}">
                    <i class="fa fa-plus"></i>
                    <span>Ajouter actualité</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fa fa-sign-out-alt"></i>
                    <span>Se déconnecter</span>
                    </a>
                </li>
                </ul>
            </aside>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-9">
            <!-- accountData -->
                    <div class="accountData">
                        <div class="head">
                        <h4 class="fontNeuron">Liste des actualites</h4>
                        
                        </div>
                        <!-- propertiesList -->
                        <div class="propertiesList">
                            {% for post in posts %}
                                
                            <article class="propertyRow">
                                <div class="info">
                                    <div class="imgProfile" >
                                        <a href=""><img src="{{ vich_uploader_asset(post) }}" alt="photo" width="100" height="100"></a>
                                    </div>
                                    <div class="textBox">
                                        <h4 class="fontNeuron"><a href="properties-single1.html">{{ post.title }}</a></h4>
                                        <p>
                                            {{ post.content|length > 50 ? post.content|slice(0, 150) ~ '...' : post.content  }}
                                        </p>
                                        <div class="priceArea">
                                        <span class="price fontNeuron">{{ post.user.username }}</span>
                                        <time class="date" title="date de l'inscription">{{ post.createdAt|date('d/m/Y') }}</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="btnArea">
                                    <span class="status fontNeuron bgColorPrimaryDark">Publié</span>
                                    <ul class="links list-unstyled">
                                        <li><a href="{{ path('post_show',{slug: post.slug}) }}"><i class="fa fa-eye"></i>Voir</a></li>
                                        <li><a href="#" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');"><i class="far fa-window-close"></i>Supprimer</a></li>
                                    </ul>
                                </div>
                            </article>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <!-- pagination -->
                    {{ knp_pagination_render(posts) }}
            
            </div>
        </div>
        </div>
    </section>
    
{% endblock %}