{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
<style>
main {
    background: #f0f9fb;
}
</style>
{% endblock %}

{% block body %}

    <!-- content -->
    <section id="content" class="container pabIndent" style="padding-top:50px">
        <!-- contentFiltersHeadingWrap -->
        <header class="contentFiltersHeadingWrap row">
            <div class="col-xs-12 col-sm-10">
                <h1 class="fontNeuron">Profile</h1>
            </div>
        </header>
        <!-- userProfile -->
        <div class="userProfile">
        <div class="row">
            {% include "profile/_left_menu.html.twig" %}
            <div class="col-xs-12 col-sm-8 col-lg-9">
            <!-- accountData -->
                    <div class="accountData">
                        <div class="head">
                        <h4 class="fontNeuron">Liste des actualites</h4>
                        
                        </div>
                        <!-- propertiesList -->
                        <div class="propertiesList">
                            {% for post in posts %}
                                
                            <article class="propertyRow">
                                <div class="info">
                                    <div class="imgProfile" >
                                        <a href=""><img src="{{ vich_uploader_asset(post) }}" alt="photo" width="100" height="100"></a>
                                    </div>
                                    <div class="textBox">
                                        <h4 class="fontNeuron"><a href="properties-single1.html">{{ post.title }}</a></h4>
                                        <p>
                                            {{ post.description|length > 50 ? post.description|slice(0, 150)  ~ '...' : post.description  }}
                                        </p>
                                        <div class="priceArea">
                                        <span class="price fontNeuron">{{ post.user.username }}</span>
                                        <time class="date" title="date de l'inscription">{{ post.createdAt|date('d/m/Y') }}</time>
                                        </div>
                                    </div>
                                </div>
                                <div class="btnArea">
                                    <span class="status fontNeuron bgColorPrimaryDark">Publié</span>
                                    <ul class="links list-unstyled">
                                        <li><a href="{{ path('post_show',{slug: post.slug}) }}" title="voir"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="{{ path('post_edit',{slug: post.slug}) }}" title="modifier"><i class="fa fa-pencil-alt"></i></a></li>
                                        <li><form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette actualité?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                                            <button class="btnLinkDelete" title="supprimer"><i class="far fa-window-close"></i> </a></button>
                                        </form>
                                        </li>
                                        {# <li><a href="#" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');"><i class="far fa-window-close"></i>Supprimer</a></li> #}
                                    </ul>
                                </div>
                            </article>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <!-- pagination -->
                    {{ knp_pagination_render(posts) }}
            
            </div>
        </div>
        </div>
    </section>
    
{% endblock %}