{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
<style>
main {
    background: #f0f9fb;
}
</style>
{% endblock %}

{% block body %}

    <!-- content -->
    <section id="content" class="container pabIndent" style="padding-top:50px">
        <!-- contentFiltersHeadingWrap -->
        <header class="contentFiltersHeadingWrap row">
            <div class="col-xs-12 col-sm-10">
                <h1 class="fontNeuron">Profile</h1>
            </div>
        </header>
        
        <!-- userProfile -->
        <div class="userProfile">
        <div class="row">
            {% include "profile/_left_menu.html.twig" %}
            <div class="col-xs-12 col-sm-8 col-lg-9">

            {% include "includes/alert.html.twig" %}
            {% for error in errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error.message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <!-- accountData -->
            <div class="accountData">
                <form name="user_parameters" method="post">
                    <div class="head">
                        <h4 class="fontNeuron">Paramètres du compte</h4>
                    </div>
                    <div class="accountHolder">
                        <div class="accountContent">
                        
                            <div class="row">
                                {% if user.userType =="Partenariat" %}
                                    <div class="form-group col-xs-12">
                                        <label for="user_parameters_ministere">Nom du Ministère</label>
                                        <input 
                                            type="text" 
                                            name="user_parameters[ministere]" 
                                            id="user_parameters_ministere" 
                                            class="form-control is-required" 
                                            value="{{ user.ministere  }}" 
                                            data-submit="save_user_parameters"
                                        />
                                    </div>
                                {% else %}
                                    <div class="form-group col-xs-6">
                                        <label for="user_parameters_nom">Nom</label>
                                        <input 
                                            type="text" 
                                            name="user_parameters[nom]" 
                                            id="user_parameters_nom" 
                                            class="form-control is-required" 
                                            value="{{ user.nom  }}" 
                                            data-submit="save_user_parameters"
                                        />
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="user_parameters_prenom">Prénom</label>
                                        <input 
                                            type="text" 
                                            name="user_parameters[prenom]" 
                                            id="user_parameters_prenom" 
                                            class="form-control is-required" 
                                            value="{{ user.prenom  }}" 
                                            data-submit="save_user_parameters"
                                        />
                                    </div>
                                {% endif %}
                                
                                <div class="form-group  col-xs-12">
                                    <label for="user_parameters_email">Email</label>
                                    <input 
                                    type="email" 
                                    name="user_parameters[email]" 
                                    id="user_parameters_email" 
                                    class="form-control is-required" 
                                    value="{{ user.email  }}" 
                                    data-submit="save_user_parameters"
                                />
                                </div>
                            </div>
                            <button type="submit" id="save_user_parameters" class="btn alighRight btnSecondary buttonL fontNeuron" disabled>Modifier</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- accountData -->
            <div class="accountData">
                <form name="user_informations" method="post" >
                <div class="head">
                    <h4 class="fontNeuron">Information complémentaires</h4>
                </div>
                <div class="accountHolder">
                    
                    <div class="accountContent">
                    {% if user.userType != "Partenariat" %}
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="user_informations_dateNaissance">Date de naissance</label>
                                <input 
                                    type="text" 
                                    class="form-control datepicker is-required" 
                                    value="{{ user.dateNaissance|date("Y-m-d")  }}" 
                                    name="user_informations[dateNaissance]"
                                    id="user_informations_dateNaissance"
                                    data-submit="save_user_informations"
                                />
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="user_informations_tel">Téléphone</label>
                            <input 
                                type="text" 
                                class="form-control is-required" 
                                value="{{ user.tel }}" 
                                name="user_informations[tel]"
                                id="user_informations_tel"
                                data-submit="save_user_informations"
                            />
                        </div>
                        {% if user.userType != "Partenariat" %}
                            <div class="form-group  col-xs-6">
                                <label for="user_informations_whatsapp">Whatsapp</label>
                                <input 
                                    type="text" 
                                    class="form-control is-required" 
                                    value="{{ user.whatsapp  }}" 
                                    name="user_informations[whatsapp]"
                                    id="user_informations_whatsapp"
                                    data-submit="save_user_informations"
                                />
                            </div>
                        {% endif %}
                        
                        {% if user.userType == "Etudiant" %}
                            <div class="form-group col-xs-6">
                                <label for="user_informations_ecole">Nom de l´école /College /Lycée</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    value="{{ user.ecole }}" 
                                    name="user_informations[ecole]"
                                    id="user_informations_ecole"
                                    data-submit="save_user_informations"
                                />
                            </div>
                            <div class="form-group  col-xs-6">
                                <label for="user_informations_classe">Classe</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    value="{{ user.classe  }}" 
                                    name="user_informations[classe]"
                                    id="user_informations_classe"
                                    data-submit="save_user_informations"
                                />
                            </div>
                        {% endif %}
                        {% if user.userType != "Partenariat" %}
                            <div class="form-group col-xs-6">
                                <label for="user_informations_iban">IBAN</label>
                                <input 
                                    type="text" 
                                    class="form-control is-required" 
                                    value="{{ user.iban }}" 
                                    name="user_informations[iban]"
                                    id="user_informations_iban"
                                    data-submit="save_user_informations"
                                />
                            </div>
                            <div class="form-group  col-xs-6">
                                <label for="user_informations_bic">BIC</label>
                                <input 
                                    type="text" 
                                    class="form-control is-required" 
                                    value="{{ user.bic }}" 
                                    name="user_informations[bic]"
                                    id="user_informations_bic"
                                    data-submit="save_user_informations"
                                />
                            </div>
                            <div class="form-group  col-xs-12">
                                <label for="user_informations_fbLink">Lien Page Facebook</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    value="{{ user.fbLink }}" 
                                    name="user_informations[fbLink]"
                                    id="user_informations_fbLink"
                                />
                            </div>
                        {% else %}
                            <div class="form-group  col-xs-12">
                                <label for="user_informations_fbLink">Lien Page Facebook</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    value="{{ user.fbLink }}" 
                                    name="user_informations[fbLink]"
                                    id="user_informations_fbLink"
                                />
                            </div>
                            <div class="form-group  col-xs-12">
                                <label for="user_informations_webLink">Lien Page Web</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    value="{{ user.webLink }}" 
                                    name="user_informations[webLink]"
                                    id="user_informations_webLink"
                                />
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" id="save_user_informations" class="btn alighRight btnSecondary buttonL fontNeuron">Modifier</button>
                    </div>
                </div>
                </form>
            </div>
            <!-- accountData -->
            <div class="accountData">
                <form name="user_addresse" method="post">
                    <div class="head">
                        <h4 class="fontNeuron">Adresse</h4>
                    </div>
                <div class="accountHolder">
                    
                    <div class="accountContent">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="user_addresse_pays">Pays</label>
                                <input 
                                    type="text" 
                                    class="form-control is-required" 
                                    value="{{ user.pays }}" 
                                    name="user_addresse[pays]"
                                    id="user_addresse_pays"
                                    data-submit="save_user_addresse"
                                />
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="user_addresse_ville">Ville</label>
                                <input 
                                    type="text" 
                                    class="form-control is-required" 
                                    value="{{ user.ville }}" 
                                    name="user_addresse[ville]"
                                    id="user_addresse_ville"
                                    data-submit="save_user_addresse"
                                />
                            </div>
                        
                            <div class="form-group col-xs-6">
                                <label for="user_addresse_gouvernerat">Gouvernerat</label>
                                <input 
                                    type="text" 
                                    class="form-control is-required" 
                                    value="{{ user.gouvernerat }}" 
                                    name="user_addresse[gouvernerat]"
                                    id="user_addresse_gouvernerat"
                                    data-submit="save_user_addresse"
                                />
                            </div>
                            <div class="form-group  col-xs-6">
                                <label for="user_addresse_codePostal">Code Postal</label>
                                <input 
                                    type="number" 
                                    class="form-control is-required" 
                                    value="{{ user.codePostal }}" 
                                    name="user_addresse[codePostal]"
                                    id="user_addresse_codePostal"
                                    data-submit="save_user_addresse"
                                />
                            </div>
                            <div class="form-group  col-xs-12">
                                <label for="user_addresse_adresse">Adresse</label>
                                <input 
                                    type="text" 
                                    class="form-control is-required" 
                                    value="{{ user.adresse }}" 
                                    name="user_addresse[adresse]"
                                    id="user_addresse_adresse"
                                    data-submit="save_user_addresse"
                                />
                            </div>
                        </div>
                    <button type="submit" id="save_user_addresse" class="btn alighRight btnSecondary buttonL fontNeuron">Modifier</button>
                    </div>
                </div>
                </form>
            </div>

            </div>
        </div>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
<script src="{{ asset('js/date.js') }}"></script>
<script>
$(document).ready(function(){
    $('.is-required').on('change', function(){
        var save_btn  = $(this).data('submit');
        if($(this).val()) {
            $(this).removeClass('has-error');
            $('#'+save_btn).prop( "disabled", false );
        }else {
            $(this).addClass('has-error');
            $('#'+save_btn).prop( "disabled", true );
        }
    });
});
</script>
{% endblock %}