<div class="row">
    {% for actualite in actualites %}
        <div class="col-xs-12 col-sm-6 col-md-4 col isoCol sale">
            <!-- postColumn -->
            <article class="postColumn hasOver bgWhite">
                <div class="aligncenter">
                    <!-- postColumnImageSlider -->
                    <div class="slick-carousel slickSlider postColumnImageSlider">
                        <div>
                            <div class="imgHolder">
                                <a href="{{ path('post_show', {slug: actualite.slug}) }}">
                                    <img src="{{ vich_uploader_asset(actualite) }}" alt="image description">
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <!-- linkToFavourite -->
                    {# <a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a> #}
                </div>
                <h2 class="fontNeuron text-capitalize"><a href="#">{{ actualite.title }}</a></h2>
                <p>
                    <a href="#" class="btn btnSmall btn-info">{{ actualite.user.username }}</a>
                    <time datetime="2011-01-12">{{ actualite.createdAt|date('d/m/Y') }}</time>
                </p>

                <p class="post_content">
                    {{ actualite.description|length > 150 ? actualite.description|slice(0, 150) ~ '...' : actualite.description  }}
                </p>

                <footer class="postColumnFoot">
                    <a href="{{ path('post_show', {slug: actualite.slug}) }}" class="elemenBlock readMore text-capitalize">Lire <i class="fi flaticon-arrows readMoreIcn"></i></a>
                </footer>
            </article>
        </div>
    {% endfor %}
</div>