<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
        <!-- include the site bootstrap stylesheet -->
        <link rel="stylesheet" href="{{ asset('frontoffice/css/bootstrap.css') }}">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="{{ asset('frontoffice/css/fancybox.css') }}">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="{{ asset('frontoffice/css/style.css') }}">
        
        {% block stylesheets %}
            
        {% endblock %}

        
    </head>
    <body>
	    <!-- pageWrapper -->
        <div id="pageWrapper">
            <!-- pageMenuPushWrap -->
            <div class="pageMenuPushWrap pageMenuPushWrap1">
                <!-- bgBaseWrap -->
                <div class="bgBaseWrap">
                    <!-- pageHeader -->
                    {% include "frontoffice/includes/header.html.twig" %}
                    <!-- main -->
                    <main>
                        {% block body %}{% endblock %}
                    </main>
                </div>
                <!-- pageFooterBlock -->
                {% include "frontoffice/includes/footer.html.twig" %}
                
            </div>
            <!-- pagePopupWrap -->
            <div class="popup-holder">
                <div id="popup1" class="lightbox-demo">
                    <!-- popupLoginFrom -->
                    <form action="#" class="popupHolderWrap bgLightDark center-block popupLarge popupLoginFrom">
                        <ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
                            <li class="active"><a href="#tab01">LOGIN</a></li>
                            <li><a href="#tab02">REGISTER</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab01" class="tab-active">
                                <div class="popupColsHolder">
                                    <div class="col bgWhite">
                                        <div class="form-group">
                                            <input type="text" class="form-control elemenBlock" placeholder="User Namer">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control elemenBlock" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label class="fwNormal customLabelCheck">
                                                <input type="checkbox" class="customFormInputReset">
                                                <span class="fakeCheckbox"></span>
                                                <span class="fakeLabel">Remember me</span>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btnSecondary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">LOGIN</button>
                                        <a href="#" class="linkForget">Forgot Password?</a>
                                    </div>
                                    <div class="col">
                                        <p>You Can Login using your facebook Profile or Google account</p>
                                        <button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
                                        <button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
                                        <button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
                                    </div>
                                </div>
                            </div>
                            <div id="tab02">
                                <div class="popupColsHolder">
                                    <div class="col bgWhite">
                                        <div class="form-group">
                                            <input type="text" class="form-control elemenBlock" placeholder="Full Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control elemenBlock" placeholder="User Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control elemenBlock" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control elemenBlock" placeholder="Confirm Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control elemenBlock" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <select data-placeholder="Type" class="chosen-select">
                                                <option value="1">For Rent</option>
                                                <option value="2">For Sale</option>
                                                <option value="3">House</option>
                                                <option value="4">Property</option>
                                                <option value="5">Real Estate</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="fwNormal customLabelCheck">
                                                <input type="checkbox" class="customFormInputReset" checked>
                                                <span class="fakeCheckbox"></span>
                                                <span class="fakeLabel">I have read and agree to the Term of Service.</span>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">REGISTER</button>
                                    </div>
                                    <div class="col">
                                        <p>You Can Login using your facebook Profile or Google account</p>
                                        <button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
                                        <button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
                                        <button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        <!-- include jQuery library -->
        <script src="{{ asset('frontoffice/js/jquery.js') }}"></script>
        <script src="{{ asset('frontoffice/js/plugins.js') }}"></script>
        <!-- include bootstrap JavaScript -->
        <script src="{{ asset('frontoffice/js/bootstrap-slider.min.js') }}"></script>
        <!-- include custom JavaScript -->
        <script src="{{ asset('frontoffice/js/jquery.main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('frontoffice/js/init.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
