<div class="col-xs-12 col-sm-4 col-lg-3">
    <!-- profileSidebar -->
    <aside class="profileSidebar">
        <header class="head">
            <div class="imgProfile">
                
                <a href="{{ path('user_detail',{id: app.user.id}) }}">
                    <img src="{{ vich_uploader_asset(app.user) }}" alt="{{ app.user.username }}" >
                </a>
            </div>
            
            <div class="info">
                <a href="{{ path('user_detail',{id: app.user.id}) }}" style="color: inherit;">
                    <span class="text">{{ app.user.username }}</span>
                </a>
            </div>
            
        </header>
        <ul class="navUser list-unstyled">
        <li {% if left_menu=='dashboard' %} class="active" {% endif %}>
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-tachometer-alt"></i>
                <span>Tableau de bord</span>
            </a>
        </li>
        <li {% if left_menu=='users' %} class="active" {% endif %}>
            <a href="{{ path('users') }}">
            <i class="fa fa-users"></i>
            <span>Utilisateurs</span>
            </a>
        </li>
        <li {% if left_menu=='admin_actualites' %} class="active" {% endif %}>
            <a href="{{ path('admin_actualites')}}">
            <i class="fa fa-newspaper"></i>
            <span>Actualités</span>
            </a>
        </li>
        
        <li>
            <a href="/logout">
            <i class="fa fa-sign-out-alt"></i>
            <span>Se déconnecter</span>
            </a>
        </li>
        </ul>
    </aside>
</div>