{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}
{% block stylesheets %}
<style>
main {
    background: #f0f9fb;
}
</style>
{% endblock %}

{% block body %}

    <!-- content -->
    <section id="content" class="container pabIndent" style="padding-top:50px">
        <!-- contentFiltersHeadingWrap -->
        <header class="contentFiltersHeadingWrap row">
            <div class="col-xs-12 col-sm-10">
                <h1 class="fontNeuron">Tableau de bord</h1>
            </div>
        </header>
        <!-- userProfile -->
        <div class="userProfile">
            <div class="row">
                <!-- leftMenu -->
                {% include "admin/_left_menu.html.twig" %}
                
                <div class="col-xs-12 col-sm-8 col-lg-9">
                    <div class="accountData">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-4">
                                <div class="cardInfo bgColorBlue">
                                    <span class="cardInfo__title">Nombre des actualités</span><br>
                                    <span class="cardInfo__bigNumber">{{ count_posts }}</span>
                                    <i class="fa fa-3x fa-newspaper"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4">
                                <div class="cardInfo bgColorLightBlue">
                                    <span class="cardInfo__title">Nombre des utilisateurs</span><br>
                                    <span class="cardInfo__bigNumber">{{ count_users }}</span>
                                    <i class="fa fa-3x fa-users"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-4">
                                <div class="cardInfo bgColorPrimary">
                                    <span class="cardInfo__title">Nouvelles inscriptions</span><br>
                                    <span class="cardInfo__bigNumber">{{ count_new_users }}</span>
                                    <i class="fa fa-3x fa-user-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:20px">
                            <div class="col-lg-12">
                                <h4 class="fontNeuron">Nombre des utilisateurs inscrits par rapport au mois de cette année</h4>
                                <div>
                                    <canvas id="usersChart"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:20px">
                            <div class="col-lg-12">
                                <h4 class="fontNeuron">Nombre des actualités postulés par rapport au mois de cette année</h4>
                                <div>
                                    <canvas id="postsChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
<script>
    $(document).ready(function(){
        

        
        var labels = [
            {% for label in labels %}
                '{{label}}',
            {% endfor %}
        ];
        
        var users_data = {
            labels: labels,
            datasets: [{
                label: 'utlisateurs',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [
                    {% for data in users_data %}
                        {{ data }},
                    {% endfor %}
                ],
            }]
        }; 

        
        var config_users = {
            type: 'line',
            data:users_data,
            options: {}
        };
        
        var usersChart = new Chart(
            document.getElementById('usersChart'),
            config_users
        );   

        var posts_data = {
            labels: labels,
            datasets: [{
                label: 'Actualités',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [
                    {% for data in posts_data %}
                        {{ data }},
                    {% endfor %}
                ],
            }]
        }; 

        var config_posts = {
            type: 'line',
            data:posts_data,
            options: {}
        };
        var usersChart = new Chart(
            document.getElementById('postsChart'),
            config_posts
        );   

    });

</script>
{% endblock %}