<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
        <!-- include the site bootstrap stylesheet -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="{{ asset('css/fancybox.css') }}">
        <!-- include the site stylesheet -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        
        {% block stylesheets %}
            
        {% endblock %}

        
    </head>
    <body>
	    <!-- pageWrapper -->
        <div id="pageWrapper">
            <!-- pageMenuPushWrap -->
            <div class="pageMenuPushWrap pageMenuPushWrap1">
                <!-- bgBaseWrap -->
                <div class="bgBaseWrap">
                    <!-- pageHeader -->
                    {% include "includes/header.html.twig" %}
                    <!-- main -->
                    <main>
                        {% block body %}{% endblock %}
                    </main>
                </div>
                <!-- pageFooterBlock -->
                {% include "includes/footer.html.twig" %}
                
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% block modal %}{% endblock %}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            
        </div>

        
        <!-- include jQuery library -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/plugins.js') }}"></script>
        <!-- include bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/bootstrap-slider.min.js') }}"></script>
        
        <!-- include custom JavaScript -->
        <script src="{{ asset('js/jquery.main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/init.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
