{% extends "base.html.twig" %}
{% block title %}Actualités{% endblock %}

{% block body %}
    <!-- findFormBlock -->
    <form class="findFormBlock findFormBlock2 bgLightDark hasShadowTop offsetHeaderTop">
        <div class="container">
            <div class="row align-center d-flex">
                <div class="col-xs-12 col-md-8 col-lg-9">
                    <div class="form-group">
                        <input type="text" class="form-control elemenBlock noBdr sizeMedium" placeholder="Entrer titre ou contenu d'article" name="search" id="search" value="{{ search }}">
                    </div>
                    
                </div>
                <div class="col-xs-12 col-md-4 col-lg-3">
                    <div class="btnsWrap">
                        <button type="button" onclick="addUrlParameter('search', '','search')" class="btn btnDark buttonSmall text-uppercase fontNeuron hidden-xs" style="width:100%">RECHERCHER</button>
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </form>
    <!-- content -->
    <section id="content" class="container pabIndent">
        <!-- contentFiltersHeadingWrap -->
        <header class="contentFiltersHeadingWrap row">
            <div class="col-xs-12 col-sm-10">
                <h1 class="fontNeuron">List des actualités</h1>
            </div>
            
        </header>
        <header class="row rowHead rowHead2">
            <div class="col-xs-12 col-md-8">
                <!-- postsFiltersList -->
                <ul class="list-unstyled postsFiltersList postsFiltersList2 text-capitalize text-center ">
                    <li {% if type =='' %} class="active" {% endif %}><a onclick="addUrlParameter('type', '')" >Tous</a></li>
                    <li {% if type =='Actualité' %} class="active" {% endif %}><a onclick="addUrlParameter('type', 'Actualité')" >Actualités</a></li>
                    <li {% if type =='Presse' %} class="active" {% endif %}><a onclick="addUrlParameter('type', 'Presse')" >La presse</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4">
                <!-- sortGroup -->
                <div class="sortGroup">
                    <strong class="groupTitle fwNormal">Trier par:</strong>
                    <div class="dropdown">
                        <button class="dropdown-toggle buttonReset" type="button" id="sortGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_timeFilter }} <i class="icn fas fa-chevron-down"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sortGroup">
                            {% for key, timeFiler in not_selected_timeFilters %}
                                <li><a onclick="addUrlParameter('time', '{{ key }}')">{{ timeFiler }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- isoContentHolder -->
        <div class="isoContentHolder">
            <div class="row">
            {% for post in posts %}
                <div class="col-xs-12 col-sm-6 col col-md-4 col isoCol {{ post.type }}">
                    <!-- postColumn -->
                    <article class="postColumn hasOver bgWhite">
                        <div class="aligncenter">
                            <!-- postColumnImageSlider -->
                            <div class="slick-carousel slickSlider postColumnImageSlider">
                                <div>
                                    <div class="imgHolder">
                                        <a href="{{ path('post_show', {slug: post.slug}) }}">
                                            <img src="{{ vich_uploader_asset(post) }}" alt="image description">
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- linkToFavourite -->
                            {# <a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a> #}
                        </div>
                        <h2 class="fontNeuron text-capitalize"><a href="{{ path('post_show', {slug: post.slug}) }}">{{ post.title }}</a></h2>
                        <p>
                            <a href="#" class="btn btnSmall btn-info">{{ post.user.username }}</a>
                            <time datetime="2011-01-12">{{ post.createdAt|date('d/m/Y') }}</time>
                        </p>

                        <p class="post_content">
                            {{ post.description|length > 150 ? post.description|slice(0, 150) ~ '...' : post.description  }}
                        </p>

                        <footer class="postColumnFoot">
                            <a href="{{ path('post_show', {slug: post.slug}) }}" class="elemenBlock readMore text-capitalize">Lire <i class="fi flaticon-arrows readMoreIcn"></i></a>
                        </footer>
                    </article>
                </div>
            {% endfor %}

            </div>
        </div>
        <!-- navigation pagination -->
        {{ knp_pagination_render(posts) }}
    </section>
{% endblock %}

